{% extends "template.j2" %}
{% block content %}

<h2>Sign my guestbook</h2>

<form method="post" action="/process">
    <input type="text" name="name">
    <br>
    <textarea type="text" name="comment"></textarea>
    <br>
    <button type="submit">Sign in</button>
</form>
{% endblock %}
